<h1 class="font-bold text-3xl m-4">Encounters</h1>
<div class="flex">
  <div class="m-4">
    <button
      class="h-full p-2 bg-lime-500 border-1 border-lime-700 rounded-l-md hover:bg-lime-400"
      routerLink=""
      [queryParams]="{ environment: 'wilderness' }"
    >
      Wilderness
    </button>
    <button
      class="h-full p-2 bg-indigo-400 border-1 border-indigo-500 hover:bg-indigo-300"
      routerLink=""
      [queryParams]="{ environment: 'town' }"
    >
      Town
    </button>
    <button
      class="h-full p-2 bg-orange-300 border-1 border-orange-400 hover:bg-orange-200"
      routerLink=""
      [queryParams]="{ environment: 'dungeon' }"
    >
      Dungeon
    </button>
    <button
      class="h-full p-2 px-4 bg-gray-400 border-1 border-gray-500 rounded-r-md hover:bg-gray-300"
      routerLink=""
      [queryParams]="{ environment: 'traps' }"
    >
      Traps
    </button>
  </div>
  <form class="flex" [formGroup]="tagsFilter">
    <div class="m-4 w-120">
      <app-multi-select
        formControlName="tags"
        [options]="encountersService.getAvailableTags(environment())"
      />
    </div>
    <div class="m-4">
      <app-toggle formControlName="mode" />
    </div>
  </form>
</div>
<div class="mx-4 flex flex-wrap">
  @for (encounter of encounters(); track $index) {
  <app-encounter-card
    class="mr-3 mb-3"
    [encounter]="encounter"
    (tagSelect)="onTagSelect($event)"
  />
  } @empty {
  <h2 class="m-auto mt-8 font-semibold text-2xl">No items matching search</h2>
  }
</div>
